<html>

<head>
  <title>success</title>
  <script type="text/javascript">

    function last_day(){

    }
    function chageSelectedValue(val){
    var yourTestSelect = document.getElementById("TestSelect");

    // select element에서 선택된 option의 value가 저장됩니다.
    var selectedValue = yourTestSelect.options[yourTestSelect.selectedIndex].value;

    // select element에서 선택된 option의 text가 저장된다.
    var selectedText = yourTestSelect.options[yourTestSelect.selectedIndex].text;

    alert("hi")
}
function bgcolor_yellow(obj) {
  obj.style.backgroundColor ='yellow';
  alert("hi")
}
function categoryChange(e) {
  var good_a = ["지수", "제니", "로제", "리사"];
  var good_b = ["빅토리아", "엠버", "루나", "크리스탈"];
  var good_c = ["LE", "하니", "정화", "혜린", "솔지"];
  var target = document.getElementById("good");

  if(e.value == "a") var d = good_a;
  else if(e.value == "b") var d = good_b;
  else if(e.value == "c") var d = good_c;

  target.options.length = 0;

  for (x in d) {
    var opt = document.createElement("option");
    opt.value = d[x];
    opt.innerHTML = d[x];
    target.appendChild(opt);
  }
}


  </script>
  <style>
  * {
    font-size: 16px;
    font-family: Consolas, sans-serif;
  }
</style>
</head>

<body>
  <form>
    <select name="month", id="month_select", onchange="last_day(this.value)">
      {% for i in range(1, 13) %}
      <option value="month">{{i}}</option>
      {% endfor %}
    </select>
  </form>

  <select id="TestSelect" name="SelectValue" onchange="chageLangSelect(this)">
<option value="val">Choose your value</option>
<option value="val01">YourValue01</option>
<option value="val02">YourValue02</option>
</select>
<input type="text" value="hello" onchange="bgcolor_yellow(this)" />
<input type="text" value="world" onchange="bgcolor_yellow(this)" />

<select onchange="categoryChange(this)">
  <option>걸그룹을 선택해주세요</option>
  <option value="a">블랙핑크</option>
  <option value="b">에프엑스</option>
  <option value="c">EXID</option>
</select>

<select id="good">
<option>좋아하는 멤버를 선택해주세요</option>
<option value="asd">블랙핑크</option>
<option value="baef">에프엑스</option>
<option value="cwe">EXID</option>
</select>

<h1>{{value}}</h1>

</body>

</html>
