<html>
<head>
  <title>success</title>
  <script type="text/javascript" src="{{url_for('static', filename = 'logout.js')}}" >

  </script>
  <style>
  * {
    font-size: 16px;
    font-family: Consolas, sans-serif;
  }

</style>
</head>
<body>
  <h2>{{name}} 님 {{year}}년 {{month}}월 {{day}}일 접속</h2>
  <input type = "button" value = "로그아웃" onclick="sayGoodbye()"/>

  <form>
    <p><input type="date"></p>
    <select name="year", id="year_select">
    {% for i in range(1, 13)%}
    {% if i == month %}
    <option value="year" selected="selected">{{i}}</option>
    {% else %}
    <option value="year">{{i}}</option>
    {% endif %}
    {% endfor %}
    </select>
    <select name="month", id="month_select", onchange="last_day(this.value)">
    {% for i in range(1, 31)%}
    <option value="month">{{i}}</option>
    {% endfor %}
    </select>

  </form>

</body>
</html>
