<html>
<head>
  <title>success</title>

  <style>
  * {
    font-size: 16px;
    font-family: Consolas, sans-serif;
  }

</style>
</head>
<body>
  <div>
    <a>{{name}} 님 {{year}}년 {{month}}월 {{day}}일 접속</a>
    <input id="hw" type = "button" value = "로그아웃" />
  </div>


  <div>
		<input type="date" name="theday" min="{{year-1}}-{{month}}-{{day}}" max="{{year}}-{{month}}-{{day}}" value="{{year}}-{{month}}-{{day}}">
		<input type="button" value="확인" id="trans" >
	</div>

  <script>
    window.onload = function(){
      var hw = document.getElementById('hw');
      hw.addEventListener('click', function(){
          document.location.href="/logout"
      })

      }
      window.onload = function(){
        var hw = document.getElementById('hw');
        hw.addEventListener('click', function(){
            document.location.href="/logout"
        })

        }


  </script>
</body>
</html>
